@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);

@layer base {
	/* Coping the base styles from preflight to .flat-oinky since html/body is no longer the root */
	.flat-oinky {
	  line-height: 1.5;
	  -webkit-text-size-adjust: 100%;
	  tab-size: 4;
	  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji');
	  font-feature-settings: var(--default-font-feature-settings, normal);
	  font-variation-settings: var(--default-font-variation-settings, normal);
	  -webkit-tap-highlight-color: transparent;
	}
}

.flat-oinky { @import "tailwindcss/preflight.css" layer(base) }

@import "tailwindcss/utilities.css" layer(utilities);

@plugin "daisyui";

@config "../tailwind.config.js";

@utility pixelated {
	image-rendering: pixelated;
}

/* replacing tailwind/daisy styles that aren't respecting the .flat-oinky scope */

:root, [data-theme] {
	background: unset;
	color: unset;
}
.flat-oinky, .flat-oinky [data-theme] {
	color: var(--color-base-content);
}

[fmmo-asset=html] button {
	color: unset;
}

/* Now onto customizing flat mmo styles for our own sake */

body {
	position: relative;
	height: unset;
}

[fmmo-container] {
	position: relative;
}

[oinky-hide] {
	display: none !important;
}

[oinky-chat-expanded=true] [oinky-chat=messages],
[oinky-chat-expanded=false] [oinky-chat=popups] {
	@apply opacity-100;
}

[oinky-chat-expanded=false] [oinky-chat=messages],
[oinky-chat-expanded=true] [oinky-chat=popups] {
	@apply opacity-0;
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

[oinky-chat=popups] li {
	animation-name: fadeOut;
	animation-duration: 150ms;
	animation-delay: 7850ms;
}