<section class="block w-max mb-10 mx-auto tooltip tooltip-bottom" data-tip="Open News">
		<div class="flex justify-center items-end h-8 sm:h-16 lg:h-32">
			<img class="flex-0 h-full pixelated" src="{{ minerSrc }}" />
			<img class="flex-0 h-full pixelated" src="{{ lumberjackSrc }}" />
			<img class="flex-0 h-full pixelated" src="{{ logoSrc }}" />
			<img class="flex-0 h-full pixelated scale-x-[-1]" src="{{ thiefSrc }}" />
			<img class="flex-0 h-full pixelated scale-x-[-1]" src="{{ witchSrc }}" />
		</div>
		<div class="text-center">
			<a href="https://flatmmo.com/news" target="_blank">
				<span>{{ newsLinkText }}</span>
				<div class="absolute inset-0"></div>
			</a>
		</div>
</section>
