<div class="absolute top-full w-full z-50 -mt-1.5 pr-0.5">
	<section oinky="taskbar" class="relative bg-base-100 rounded-b-lg border-b border-base-200 flex p-1">
		<div oinky-taskbar="chat-container" style="display:contents;"></div>
		<div oinky-taskbar="spacer" class="flex-1"></div>
		<div oink-taskbar="menu-container" class="flex-none">
			<button class="btn btn-md btn-ghost btn-square border-transparent" style="anchor-name: --oinky-taskbar-menu-btn;" popovertarget="oinky-taskbar-menu">
				<img src="{{ menuIconSrc }}" />
			</button>
			<ul class="dropdown dropdown-top dropdown-end menu w-3xs rounded-box bg-base-100 shadow-sm my-2" popover id="oinky-taskbar-menu" style="position-anchor: --oinky-taskbar-menu-btn;">
				<li>
					Stuff will go here
				</li>
			</ul>
		</div>
	</section>
</div>
