[oinky="taskbar/chat/toggle"]:has(:checked) [oinky="taskbar/chat/toggle/icon"] {
	transform: scaleY(1);
}

[oinky="taskbar/chat/toggle"]:not(:has(:checked)) [oinky="taskbar/chat/toggle/icon"] {
	transform: scaleY(-1);
}

[oinky="taskbar/chat/toggle"]:has(:checked) ~ * [oinky="taskbar/chat/messages/list"],
[oinky="taskbar/chat/toggle"]:not(:has(:checked)) ~ * [oinky="taskbar/chat/messages/popups"] {
	opacity: 1;
}

[oinky="taskbar/chat/toggle"]:not(:has(:checked)) ~ * [oinky="taskbar/chat/messages/list"],
[oinky="taskbar/chat/toggle"]:has(:checked) ~ * [oinky="taskbar/chat/messages/popups"] {
	opacity: 0;
}
